<article class="donation" data-id="<%= donation.id %>">

  <span class="donation__donor">
    <%= donation.donor %>
  </span>

  <p>
    <%= donation.message %>
  </p>

  <div class="donation__sponsorship">
    <div class="sponsorship__amount">
      £<%= donation.amount %> <del>sponsorship</del>
    </div>

    <div class="sponsorship__receiver">
      <img src="/images/oxfam.jpg" title="Oxfam" alt="Ofxam">
    </div>
  </div>

  <section class="donation__comments">
    <div class="comments__block comments__show-all hidden">
      Show all <span></span> comments
    </div>

    <ol></ol>

    <form name="add_comment" class="comments__block hidden">
      <input name="new_comment" type="text" placeholder="Write your comment...">
      <div class="error hidden">Comment cannot be empty</div>
    </form>
  </section>

  <footer class="donation__footer">
    <time title="<%= moment(donation.created).format('D MMM YYYY') %>"
          datetime="<%= donation.created %>">
      <%= moment(donation.created).format("D MMM") %>
    </time><!--

 --><% if (donation.total_likes > 0) { %><!--
 --><span class="donation__total-likes">
      <%= donation.total_likes %>
    </span><!--
 --><% } %><!--

 --><span class="donation__action -like">Like</span><!--
 --><span class="donation__action -comment">Comment</span><!--
 --><span class="donation__action -share">Share</span>
  </footer>
</article>
