<article class="donation" data-id="<%= donation.id %>">

  <span class="donation__donor">
    <%= donation.donor %>
  </span>

  <p>
    <%= donation.message %>
  </p>

  <div class="donation__sponsorship">
    <div class="sponsorship__amount">
      £<%= donation.amount %> <del>sponsorship</del>
    </div>

    <div class="sponsorship__receiver">
      <img src="/images/logo.jpg" title="Oxfam">
    </div>
  </div>

  <section class="donation__comments"></section>

  <footer class="donation__footer">
    <time datetime="<%= donation.created %>">
      <%= moment.duration(moment() - moment(donation.created)).humanize() %>
    </time><!--

 --><% if (donation.total_likes > 0) { %><!--
 --><span class="donation__total-likes">
      <%= donation.total_likes %>
    </span><!--
 --><% } %><!--

 --><span>Like</span><!--
 --><span>Comment</span><!--
 --><span>Share</span>
  </footer>
</article>
