<article class="donation">

  <span class="donation__donor">
    <%= donation.donor %>
  </span>

  <p>
    <%= donation.message %>
  </p>

  <div class="donation__sponsorship">
    <div class="sponsorship__amount">
      £<%= donation.amount %> <del>sponsorship</del>
    </div>

    <div class="sponsorship__receiver">
      <img src="/images/logo.jpg" title="Oxfam">
    </div>
  </div>

  <section class="donation__comments">
    <% if (donation.total_comments > donation.comments.length) { %>
    <div class="comments__block comments__expand" onclick="expand_comments()">
      Show all <%= donation.total_comments %> comments
    </div>
    <% } %>

    <ol>
      <% donation.comments.forEach(function (comment) { %>
      <li class="comments__block">
        <p><%= comment.text %></p>
        <time datetime="<%= comment.created %>">
          <%= moment.duration(moment() - moment(comment.created)).humanize() %>
        </time>
      </li>
      <% }); %>
    </ol>

    <% if (donation.comments.length) { %>
    <form name="postComment" class="comments__block">
      <input type="text" placeholder="Write your comment...">
    </form>
    <% } %>
  </section>

  <footer class="donation__footer">
    <time datetime="<%= donation.created %>">
      <%= moment.duration(moment() - moment(donation.created)).humanize() %>
    </time>
    <span>2</span>
    <span>Like</span>
    <span>Comment</span>
    <span>Share</span>
  </footer>
</article>
