<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Anna's sponsors</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Reset to begin with a more consistent base across browsers -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/donation.css">
		<link rel="stylesheet" href="/css/donation__sponsorship.css">
		<link rel="stylesheet" href="/css/donation__comments.css">

    <script src="/vendor/modernizr.custom.min.js"></script>
	</head>
	<body>
