<% include includes/header.html %>

<main>
  <header>
    <h1>Anna's sponsors</h1>
    <p>1 person has donated</p>
  </header>

  <article class="donation">

    <span class="donation__donor">Matthias Metternich</span>

    <p class="donation__message">
      <%= donation.message %>
    </p>

    <div class="donation__sponsorship">
      <div class="sponsorship__amount">
        £<%= donation.amount %> sponsorship
      </div>

      <div class="sponsorship__receiver">
        <img src="/images/logo.jpg" title="Oxfam">
      </div>
    </div>

    <section class="donation__comments">
      <div class="comment__block">
        Show all 7 comments
      </div>
      <ol>
      <% comments.forEach(function (comment) { %>
        <li class="comment__block">
          <p><%= comment.text %></p>
          <p><%= moment(comment.date).format("Do MMM YYYY") %>
        </li>
      <% }); %>
      </ol>
      <div class="comment__block">
        <input type="text" placeholder="Write your comment...">
      </div>
    </section>

    <footer>
      <span class="footer__detail" datetime="2014-08-01T13:00:00Z">Aug 1st</span>
      <span class="footer__detail">2</span>
      <span class="footer__detail">Like</span>
      <span class="footer__detail">Comment</span>
      <span class="footer__detail">Share</span>
    </footer>
  </article>
</main>

<% include includes/footer.html %>
