body {
  font: normal 11px/1.5em Arial, Helvetica, sans-serif;
  padding: 30px 20px;
  color: #333;
  background-color: #eeeeee;
}

main {
  width: 280px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 300px) {
  body {
    padding: 20px 10px;
  }
}
