.donation {
  position: relative;
  box-sizing: border-box;
  margin: 40px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.donation:first-child {
  margin: 0;
}

/* Create a mock triangle using borders */
.donation:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 30px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
}

.donation__donor {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #693;
}

.donation > p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.166em;
}

.donation footer {
  color: #999;
}

.donation__footer > *:before {
  content: " · ";
}

.donation__footer > *:first-child:before {
  content: ""
}

.donation__action {
  cursor: not-allowed;
}

.donation__action:hover {
  color: #333;
}

.donation__total-likes:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 8px;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAICAgICAgICAgIDAgICAwQDAgIDBAUEBAQEBAUGBQUFBQUFBgYHBwgHBwYJCQoKCQkMDAwMDAwMDAwMDAwMDAz/2wBDAQMDAwUEBQkGBgkNCwkLDQ8ODg4ODw8MDAwMDA8PDAwMDAwMDwwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAIAAkDAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAABgj/xAAiEAABAwMDBQAAAAAAAAAAAAACAQMFBAcRAAYhCBhYk9P/xAAWAQEBAQAAAAAAAAAAAAAAAAAHBgn/xAApEQABAQUFCQEAAAAAAAAAAAABAgMEBRIhAAYRUdEHFhcjMVRVYpGh/9oADAMBAAIRAxEAPwAVvLp3vlDXZqrPHHSc9MbokSro+vA3VoZZsTLEo46SqGAR1VcI1y2pEhcrySvEJe0PJd8CSo4jJXtrlbQuD7QbvvMGTFwtDNmyRKpNJ2RwHJA61lEgTRYAIoKXP2N348jqv3SH01S7tPncH9sI8bLu+IT8Z6W//9k=);
  background-repeat: no-repeat;
}

@media (max-width: 300px) {
  .donation {
    padding: 15px;
  }

  .donation__message {
    font-size: 18px;
  }
}
