.donation__comments {
  margin-bottom: 15px;
}

.donation__comments time {
  color: #999;
}

.comments__expand {
  font-weight: bold;
  cursor: pointer;
}

.comments__block {
  margin-bottom: 3px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #eee;
}

form.comment__block {
  padding: 10px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding: 0 5px;
  line-height: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 5px -1px rgba(0, 0, 0, 0.25);
}

input:focus {
  outline: none;
  border-color: #999;
}
